* {
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #181616 ;
}

#window {
    font-weight: bold;
    font-family: "Mononoki";
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: rgb(166, 166, 156);
}

#workspaces button.active {
    color: rgb(24, 22, 22);
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-power, #custom-bluetooth, #tray {
    padding: 0 8px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

