* {
    border: 0;
    border-radius: 5;
    font-family: "Mononoki Nerd Font";
    font-size: 18px;
    min-height: 0;
    color: rgb(196, 178, 138);
}

window#waybar {
    background: transparent;
}

#window {
    font-weight: bold;
    font-family: "Mononoki";
    margin: 0 2px;
    padding: 2px 5px;
    background: rgba(24, 22, 22, 0.8);
}

#workspaces {
    padding: 2px 5px;
    margin: 0 2px;
    background: rgba(24, 22, 22, 0.8);
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
}

#workspaces button.active {
    background: rgba(197, 201, 197, 0.4);
}

#workspaces button:hover {
    border: 0;
    background: rgba(197, 201, 197, 0.2);
}

#clock, #battery, #cpu, #memory, #temperature, #network, #pulseaudio, #custom-power, #custom-bluetooth, #tray {
    padding: 2 8px;
    margin: 0 2px;
    background: rgba(24, 22, 22, 0.8);
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: rgb(228, 104, 118);
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: rgb(197, 201, 197);
        color: rgb(24, 22, 22);
    }
}

#battery.warning:not(.charging) {
    color: rgb(196, 116, 110);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: rgba(228, 104, 118, 0.6);
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

#custom-power {
}
